.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 40px;
    &-link {
        color: inherit;
        font-size: 18px;
        text-decoration: none;
        transition: all 0.2s linear;
        font-weight: 400;
    }
    &-link:hover {
        color: $black;
        font-weight: bold;
    }

    &-toggle {
        display: none;
        font-size: 20px;
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background-color: white;
        width: 300px;
        box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
        flex-direction: column;
        align-items: stretch;
        transform: translateX(100%);
        transition: all .2s linear;
        &-link {
            display: block;
            padding: 15px 25px;
        }

        &-toggle {
            display: inline-block;
        }

    }

}