.company {
    margin-bottom: 160px;

    &-heading {
        font-weight: 500;
        font-size: 28px;
        line-height: 160%;
        text-align: center;
        margin-bottom: 32px;
        color: $gray;
    }

    &-logos {
        display: flex;
        align-items: center;
        gap: 0 75px;
        max-width: 1340px;
        margin: auto;
        padding: 0 15px;
    }

    &-logo img {
        margin: 0 auto;
    }
}