:root {
  --primary-font: "Sora", sans-serif;
  --body-bg: #FDF9F1;
  --header-bg: #1E1E1E;
  --grayb5: #B5B3AF;
  --white: white;
  --primary-color: #00bd82;
  --primary-yellow: #e2f471;
  --gray1e: #1e1e1e
}